<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Homepage</h1>
    <p>This is a simple webpage for smart phone order system.</p>
    
     <p>
       Please click <a th:href="@{/order}" class="btn btn-primary">Place your Order</a> to place an order
    </p>
    
    <h2>Dev Ops Final Project</h2>
    <p>
        This app is for Dev Ops Final Project
     </p>
    
     <!-- 
	<img alt="Image" width="150" height="200" src="images/Maria.jpg">
	<img alt="Image" width="150" height="200" src="images/SiargaoFamilyPic.jpg">
	-->
	
    
    
   
    

</body>
</html>